[user]
	name = Aqil F
	email = aqilfaizal2004@gmail.com
[credential]
	helper = "!f() { /home/aqil/.vscode-server/bin/fabdb6a30b49f79a7aba0f2ad9df9b399473380f/node /tmp/vscode-remote-containers-4085556d-e6e6-43f1-801f-b8d856c44a38.js git-credential-helper $*; }; f"
