# dev 
__pycache__
params.json

# docker
.onCreateCommandMarker
.postCreateCommandMarker
.updateContentCommandMarker
/rpi/.cache
/rpi/.dotnet
/rpi/.gnupg
/rpi/.local
/rpi/.vscode-server

# ros2 build files
build 
install 
log
.ros

envx



output_images
demos/videos/
datasets